annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
beautifulsoup4==4.14.3
boxmot==16.0.11
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
circuitbreaker==2.1.3
click==8.3.1
contourpy==1.3.3
cryptography==45.0.7
cuda-bindings==12.9.4
cuda-pathfinder==1.4.0
cycler==0.12.1
fastapi==0.133.1
ffmpeg-python==0.2.0
filelock==3.24.3
filterpy==1.4.5
fonttools==4.61.1
fsspec==2026.2.0
ftfy==6.3.1
future==1.0.0
gdown==5.2.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
Hypercorn==0.18.0
hyperframe==6.1.0
idna==3.11
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
lapx==0.9.4
loguru==0.7.3
MarkupSafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
oci==2.167.3
opencv-python==4.13.0.92
packaging==26.0
pandas==2.3.3
pillow==12.1.1
polars==1.38.1
polars-runtime-32==1.38.1
priority==2.0.0
psutil==7.2.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyOpenSSL==25.1.0
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-multipart==0.0.22
pytz==2025.2
PyYAML==6.0.3
regex==2024.11.6
requests==2.32.5
scikit-learn==1.8.0
scipy==1.17.1
setuptools==82.0.0
six==1.17.0
soupsieve==2.8.3
starlette==0.52.1
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.3
triton==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ultralytics==8.4.18
ultralytics-thop==2.0.18
urllib3==2.6.3
uvicorn==0.41.0
wcwidth==0.6.0
wsproto==1.3.2
yacs==0.1.8
